version: "3.8"

services:
  node_playground:
    image: node/playground
    container_name: node-playground
    build: .
    command: yarn dev
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./:/usr/app
    depends_on:
      - playground_postgres

  playground_postgres:
    image: postgres
    container_name: playground_postgres
    env_file: .env
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: $DB_PASSWORD
    volumes:
      - playground_db:/var/lib/postgresql/data

volumes:
  playground_db:
